@import "variables";

.modal-header {
  background-color: $gray-darker;
  color: #fff;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  .close {
    color: #fff;
    text-shadow: 0;
    font-weight: 400;
    opacity: 0.4;
    &:hover,&:focus,&:active{
      color: #fff;
      text-shadow: 0;
      font-weight: 400;
      opacity: 0.7;
    }
    &:active {
      opacity: 1;
    }
  }
}
