form.snuffy {
  margin: 30px 0px;
}

tr.short {
  td.data {
    color: #189e27;
  }
}

tr.profy {
  td.data {
    color: #9e188f;
  }
}

tr.significant {
  td.data {
    color: red;
    font-weight: 700;
  }
}

tr.compilation {
  td.data {
    color: #000099;
    cursor: pointer;
  }
}

tr.component {
  @extend .active;
}

// tr.unfinished {
//   @extend .active;
// }

td.start_date {
  font-size: 13px;
}
