// Place all the styles related to the watchings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.film-dates {
  color: #888;
  font-style: italic;
}

.imdb-value {
  font-weight: 600;
}

.rotten-tomato {
  color: #490;
  font-weight: 600;
}

.fresh-tomato {
  color: #d00;
  font-weight: 600;
}
